body{
    background-color:#2F86A6

}
.form_layout

{

    display: flex;
    padding-left: 20px;
    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

    align-items: center;

}
.button {
    background-color: #ba1600; 
    border: none;
    color: white;
    margin-left: 5px;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.selectcont{
    width: 70%;
    height: 4rem;
    margin-top: 10px;
    margin-left: 20rem;
   
    display: flex;
    margin-bottom: 30px;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;

    align-items: center;
  
    
    
}
.fonts{
    font-size: 14px;
}
.w3-panel{
background-color: white;
align-items: center;
list-style: none;

    display: flex;

    flex-direction: row;

    justify-content: space-evenly;

    align-items: stretch;
    margin-left: 270px;
    width: 70%;
}
.w3-panel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .model{
      margin-left: 10px;
      font-weight: bold;
  }

@media only screen and (min-width: 350px)

{

    .button {
        background-color: #ba1600; 
        border: none;
        color: white;
        margin-top: 1.2rem;
        margin-left: 5px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
    .selectcont
    {
        width: 84%;
        height: 8rem;
        margin-top: 10px;
        margin-left: 8rem;
        
        display: flex;
        margin-bottom: 30px;
    
        flex-direction: row;
    
        flex-wrap: wrap;
    
        justify-content: center;
    
        align-items: center;
      
        
        

    }
    .w3-panel
    {
        background-color: white;
        align-items: center;
        list-style: none;
        
            display: flex;
        
            flex-direction: row;
        
            justify-content: space-evenly;
        
            align-items: stretch;
            margin-left: 7rem;
            width: 70%;
    }
        
} 

